
/* table */

.table td{
     padding : 4px 5px 4px 5px;
     vertical-align : middle;
}
.table th{
    text-align:center;
    padding : 4px 5px 4px 5px;
    vertical-align: middle;
  
}

.table thead th{
    text-align:center;
    padding : 4px 5px 4px 5px;
    vertical-align: middle;
  
}
.table tbody td{
    text-align:center;
    padding : 4px 5px 4px 5px;
    vertical-align: middle;
  
}
.no{
    width: 50px;
    text-align: center;
    vertical-align: middle;
}

.action{
    width: 100px;
    text-align: center;
    vertical-align: middle;
}

.center{
    text-align: center;
}

.left {
	text-align: left;
}
.right {
	text-align: right;
}
.middle {
    vertical-align: middle;
}